/*@font-face {
    font-family: "nb_akademie_medium";
    src: url("assets/fonts/nb_akademie_medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "nb_akademie_mono_regular";
    src: url("assets/fonts/nb_akademie_mono_regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
*/

  @font-face {
    font-family: "nbitalic";
    src: url("assets/fonts/nb_akademie_mono_std_italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
  }

@font-face {
    font-family: "nbmedium";
    src: url("assets/fonts/nb_akademie_mono_std_medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: "nbregular";
    src: url("assets/fonts/nb_akademie_mono_std_regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Global */
  body {
    font-family: "nbmedium";
    background-color: red;
  }

  /* Sections */

  /* Layouts */
